<ion-view view-title="推荐">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/wine/01.jpg">
                <h2>智利 中央山谷 格雷曼家族限量私酿干红葡萄酒</h2>
                <p>格雷曼品牌智利驻上海大使馆指定用酒！比利时布鲁塞尔世界葡萄酒竞赛Venere2002--金奖</p>
            </div>
            <div class="item item-image">
                <img src="images/wine/01.jpg">
            </div>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>搭配建议：烤肉、芝士、奶酪等
            </a>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="images/wine/13.jpg">
                <h2>蒙特斯欧法赤霞珠干红葡萄酒 3000ml</h2>
                <p>MONTES ALPHA Merlot (Viognier)</p>
            </div>
            <div class="item item-image">
                <img src="images/wine/13.jpg">
            </div>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>建议搭配：合配奶酪，熏肉，红肉
            </a>
        </div>
    </ion-content>
</ion-view>
