<ion-view view-title="账户">
    <ion-content>
        <label class="item item-icon-left">
            <i class="icon ion-person"></i>姓名
            <span class="item-note">张晓亮</span>
        </label>
        <label class="item item-icon-left item-select">
            <i class="icon ion-map"></i>性别
            <select>
                <option>男</option>
                <option selected>女</option>
                <option>保密</option>
            </select>
        </label>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-ios-telephone"></i>电话
            <span class="item-note">13800000000</span>
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-map"></i>城市
            <span class="item-note">上海</span>
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-chatbubbles"></i>消息
            <span class="badge badge-assertive">126</span>
        </a>
        <div class="item item-divider">个人设置</div>
        <li class="item item-icon-left item-toggle">
            <i class="icon ion-locked"></i>启用隐私
            <label class="toggle toggle-assertive">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <!-- <a class="item"> -->
            <button class="button button-full button-assertive" ng-click="login();">登录</button>
        <!-- </a> -->
        <div class="list">
        </div>
    </ion-content>
</ion-view>
