<ion-view view-title="设置">
    <ion-content>
        <label class="item item-icon-left item-select" href="#">
            <i class="icon ion-heart"></i>刷新频率
            <select>
                <option>高</option>
                <option selected>中</option>
                <option>低</option>
            </select>
        </label>

        <div class="range item">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
        </div>

    </ion-content>
</ion-view>
